.container{

    padding: 40px;
    user-select: none;
    background: var(--bg-primary);
    -webkit-tap-highlight-color: transparent;
}

.header{

    display: flex;
    align-items: center;
    color: var(--blue-primary);
}

.header_text{

    font-size: 18px;
    font-weight: 500;
    margin-left: 10px;
}

.about{

    font-size: 14px;
    color: var(--text-primary);
    margin-top: 25px;
    margin-left: 0px;
    display: block;
    line-height: 1.9;
}

.highlightedLink{

    color: var(--red-primary);
    background: var(--red-secondary);
    padding: 5px;
    border-radius: 4px;
    cursor: pointer;
}

.highlightedLink:hover{

    text-decoration: underline;
}

.formConatiner{

    display: flex;
    flex-direction: column;
    margin-top: 50px;
    margin-bottom: 190px;
}

.form{

    padding: 30px;
    display: flex;
    flex-direction: column;
    width: fit-content;
    min-width: 500px;
    background: var(--contact-form-bg);
}

.inputLabel{

    font-size: 13px;
    color: var(--text-primary);
    margin-bottom: 12px;
    margin-left: 5px;
    font-weight: 600;
}

.input{

    border: 1px solid var(--hr-primary);
    padding: 13px 15px;
    font-size: 15px;
    color: var(--black-primary);
    margin-bottom: 10px;
    background: transparent;
    border-radius: 4px;
}

.textarea{

    border: 1px solid var(--hr-primary);
    font-size: 15px;
    margin-bottom: 10px;
    color: var(--black-primary);
    background: transparent;
    border-radius: 4px;
    padding: 13px 15px;
}

.textarea:focus{

    border: 1px solid var(--black-primary);
    outline: none;
}

.input:focus{

    outline: none;
    border: 1px solid var(--black-primary);
}

.actionFlex{

    display: flex;
    align-items: center;
}

.submitButton{

    display: flex;
    align-items: center;
    padding: 12px 15px;
    border: none;
    border-radius: 4px;
    background: var(--black-primary);
    cursor: pointer;
    font-size: 13px;
    margin-left: auto;
    color: var(--white-primary);
}

.submitIcon{

    margin-left: 8px;
    color: var(--white-primary);
    font-size: 16px;
}

.sipnner{

    height: 15px;
    width: 15px;
    border-radius: 50%;
    border: 1.5px solid var(--white-primary);
    margin-right: 10px;
    border-top-color: transparent;
    animation: spinner 1s infinite linear;
}

.optionaltext{

    font-size: 13px;
    color: var(--text-primary);
    margin-top: 20px;
}

.emailLink{

    color: var(--blue-primary);
}

.userAlert{

    margin-top: 50px;
}

.hr{

    width: 100%;
    border: 1px solid var(--hr-primary);
    margin-top: 20px;
}

@media screen and (max-width: 768px){

    .container{

        padding: 30px 20px;
    }
    .form{

        min-width: 100%;
        padding: 20px;
    }

}

@keyframes spinner {

    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
    
}