.container{

    padding: 40px;
    user-select: none;
    background: var(--bg-primary);
    -webkit-tap-highlight-color: transparent;
}

.header{

    display: flex;
    align-items: center;
    color: var(--blue-primary);
}

.header_text{

    font-size: 18px;
    font-weight: 500;
    margin-left: 10px;
}

.about{

    font-size: 14px;
    color: var(--text-primary);
    margin-top: 25px;
    margin-left: 0px;
    display: block;
}

.highlightedRed{

    color: var(--red-primary);
    background: var(--red-secondary);
    padding: 5px;
    border-radius: 4px;
    cursor: pointer;
}

.highlightedRed:hover{

    text-decoration: underline;
}

.highlightedBlue{

    color: var(--blue-primary);
    background: (--blue-secondary);
    padding: 5px;
    border-radius: 4px;
    cursor: pointer;
}

.highlightedBlue:hover{

    text-decoration: underline;
}

.hr{

    width: 100%;
    border: 0;
    height: 1px;
    background: var(--hr-primary);
    margin-top: 30px;
}

.aboutText{

    font-size: 15px;
    color: var(--text-secondary);
    margin-top: 25px;
    margin-left: 0px;
    display: block;
    line-height: 1.9;
    width: 100%;
}

.linksContainer{

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    margin-top: 40px;
}


@media screen and (max-width: 768px){

    .container{

        padding: 30px 20px;
    }

    .about{

        line-height: 2;
    }
    .aboutText{

        font-size: 13px;
        width: 100%;
    }

}