.container{

    background: var(--bg-primary);
    -webkit-tap-highlight-color: transparent;
    user-select: none;
    padding: 40px;
}


.header{

    display: flex;
    align-items: center;
    color: var(--blue-primary);
}

.header_text{

    font-size: 18px;
    font-weight: 500;
    margin-left: 10px;
}

.about{

    font-size: 14px;
    color: var(--text-primary);
    margin-top: 25px;
    margin-left: 0px;
    display: block;
}

.highlightedLink{

    color: var(--blue-primary);
    background: var(--blue-secondary);
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
    margin-left: 15px;
    border-bottom: 1px dashed transparent;
}

.highlightedLink:hover{

    border-bottom: 1px dashed var(--blue-primary);
}


.search_flex{

    width: 50%;
    display: flex;
    flex-direction: row;
    align-items: center;
    background: var(--searchflex-primary);
    padding: 10px 15px;
    border-radius: 5px;
    margin-top: 20px;
    transition: all 0.3s ease-in-out;
}

.search_flex:hover{

    background: var(--searchflex-secondary);
}

.search_icon{

    font-size: 20px;
}

.search_flex .search_input{

    border: none;
    margin-left: 10px;
    background: transparent;
    font-size: 15px;
    width: 100%;
}

.clearQuery{

    color: var(--text-primary);
    cursor: pointer;
    font-size: 20px;
}

.clearQuery:hover{

    color: var(--black-primary)
}

.search_flex .search_input:focus, .search_flex .search_input:active{

    outline: none;
}

.search_flex .search_input:focus + .search_icon{

    color: var(--blue-primary);
}

.resourceGrid{

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    grid-gap: 20px;
    margin-top: 40px;
    
}

.emptyMessage{

    width: 100%;
    text-align: center;
    margin-top: 150px;
    color: var(--text-primary);
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.emptyIcon{

    margin-right: 10px;
    font-size: 20px;
    color: var(--text-secondary);
}

@media screen and (max-width: 768px){

    .container{

        padding: 30px 20px;
        padding-bottom: 100px;
    }

    .resourceGrid{

        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    }
    
    .search_flex{

        width: 100%;
    }

}