.container{

    padding: 40px;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
}

.header{

    display: flex;
    align-items: center;
    color: rgb(0, 119, 255);
}

.header_text{

    font-size: 18px;
    font-weight: 500;
    margin-left: 10px;
}

.about{

    font-size: 14px;
    color: gray;
    margin-top: 25px;
    margin-left: 0px;
    display: block;
}

.highlightedRed{

    color: rgb(255, 0, 0);
    background: rgba(255, 0, 0, 0.05);
    padding: 5px;
    border-radius: 4px;
    cursor: pointer;
}

.highlightedRed:hover{

    text-decoration: underline;
}

.highlightedBlue{

    color: rgb(0, 119, 255);
    background: rgba(0, 119, 255, 0.05);
    padding: 5px;
    border-radius: 4px;
    cursor: pointer;
}

.highlightedBlue:hover{

    text-decoration: underline;
}

.hr{

    width: 100%;
    border: 0;
    height: 1px;
    background: rgba(0, 0, 0, 0.1);
    margin-top: 30px;
}

.aboutText{

    font-size: 16px;
    color: rgb(63, 63, 63);
    margin-top: 25px;
    margin-left: 0px;
    display: block;
    line-height: 2;
    width: 80%;
}


.faqContainer{

    margin-top: 50px;
}

.faqHead{

    color: rgb(0, 119, 255);
    font-weight: 600;
    font-size: 18px;
    display: flex;
    align-items: center;
    width: fit-content;
    border-bottom: 1px dashed rgb(0, 119, 255);
    padding: 10px 0px;
    margin-bottom: 30px;
}

.faqDetails{

    background: rgba(0, 0, 0, 0.02);
    transition: all 0.2s ease-in-out;
}

.faqDetails:hover{

    background: rgba(0, 0, 0, 0.04);
}

.faqSummary:focus{

    outline: none;
}

.faqSummary{

    font-size: 16px;
    color: rgb(48, 48, 48);
    font-weight: 500;
    padding: 20px 15px;
    cursor: pointer;
    margin: 0;
}

.faqAnswer{

    color: gray;
    font-size: 14px;
    background: white;
    line-height: 2;
    padding: 0 15px;
}

.shareContainer{

    width: fit-content;
    align-items: center;
    display: flex;
    background: linear-gradient(to right, rgb(45, 143, 255), rgb(0, 105, 224));
    box-shadow: 0px 0px 10px rgba(0, 119, 255, 0.2);
    padding: 15px 20px;
    color: white;
    font-weight: 500;
    border-radius: 5px;
    margin-top: 40px;
    cursor: pointer;
}

.socialIcon{

    margin-left: 20px;
}

@media screen and (max-width: 768px){

    .container{

        padding: 30px 20px;
        padding-bottom: 100px;
    }

    .about{

        line-height: 2;
    }
    .aboutText{

        font-size: 13px;
        width: 100%;
    }

    .faqSummary{

        font-size: 14px;
    }

    .shareContainer{

        background: linear-gradient(to right, rgb(46, 144, 255), rgb(0, 119, 255));
        width: fit-content;
        padding: 20px;
        border-radius: 5px;
        color: white;
    }

    .socialIcons{

        width: 90%;
    }

    .faqAnswer{

        font-size: 13px;
    }

    .shareContainer{

        padding: 10px;
        font-size: 14px;
        width: 100%;
        justify-content: space-evenly;
    }
    .socialIcon{
            
            margin-left: 0px;
    }

}