.container{

    padding: 40px;
    user-select: none;
    background: var(--bg-primary);
    -webkit-tap-highlight-color: transparent;
}

.header{

    display: flex;
    align-items: center;
    color: var(--blue-primary);
}

.header_text{

    font-size: 18px;
    font-weight: 500;
    margin-left: 10px;
}

.about{

    font-size: 14px;
    color: var(--text-primary);
    margin-top: 25px;
    margin-left: 0px;
    display: block;
}

.highlightedRed{

    color: var(--red-primary);
    background: var(--red-secondary);
    padding: 5px;
    border-radius: 4px;
    cursor: pointer;
}

.highlightedRed:hover{

    text-decoration: underline;
}

.highlightedBlue{

    color: var(--blue-primary);
    background: (--blue-secondary);
    padding: 5px;
    border-radius: 4px;
    cursor: pointer;
}

.highlightedBlue:hover{

    text-decoration: underline;
}

.hr{

    width: 100%;
    border: 0;
    height: 1px;
    background: var(--hr-primary);
    margin-top: 30px;
}

.aboutText{

    font-size: 15px;
    color: var(--text-secondary);
    margin-top: 25px;
    margin-left: 0px;
    display: block;
    line-height: 1.9;
    width: 100%;
}


.faqContainer{

    margin-top: 50px;
}

.faqHead{

    color: var(--blue-primary);
    font-weight: 600;
    font-size: 18px;
    display: flex;
    align-items: center;
    width: fit-content;
    border-bottom: 1px dashed var(--blue-primary);
    padding: 10px 0px;
    margin-bottom: 30px;
}

.faqDetails{

    background: var(--faq-primary);
    transition: all 0.2s ease-in-out;
}

.faqDetails:hover{

    background: var(--faq-secondary);
}

.faqSummary:focus{

    outline: none;
}

.faqSummary{

    font-size: 16px;
    color: var(--text-secondary);
    font-weight: 500;
    padding: 20px 15px;
    cursor: pointer;
    margin: 0;
    line-height: 1.9;
}

.faqAnswer{

    color: var(--text-primary);
    font-size: 14px;
    background: var(--bg-primary);
    line-height: 2;
    padding: 0px 15px;
    padding-top: 10px;
}

.shareContainer{

    width: fit-content;
    align-items: center;
    display: flex;
    background: var(--blue-secondary);
    padding: 15px 20px;
    color: var(--blue-primary);
    font-weight: 500;
    border-radius: 5px;
    margin-top: 40px;
    cursor: pointer;
}

.socialIcon{

    margin-left: 20px;
    font-size: 16px;
}

@media screen and (max-width: 768px){

    .container{

        padding: 30px 20px;
    }

    .about{

        line-height: 2;
    }
    .aboutText{

        font-size: 13px;
        width: 100%;
    }

    .faqSummary{

        font-size: 14px;
    }

    .shareContainer{

        padding: 20px;
    }

    .socialIcons{

        width: 90%;
    }

    .faqAnswer{

        font-size: 13px;
    }

    .shareContainer{

        padding: 15px 10px;
        font-size: 14px;
        width: 100%;
        justify-content: space-evenly;
    }
    .socialIcon{
            
            margin-left: 0px;
    }

}