
.category_card{

    padding: 20px;
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    background: transparent;
    border: 1px dashed var(--card-border-primary);
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
}

.category_card:hover{

    box-shadow: 0px 5px 10px var(--card-hover-shadow);
    border: 1px dashed var(--blue-primary);
}

.card_icon{

    font-size: 25px;
    color: var(--black-primary);
    margin-bottom: 30px;
}

.card_title{

    font-weight: 500;
    color: var(--black-primary);
}

.card_body{

    font-size: 12px;
    color: var(--text-primary);
    margin-bottom: 20px;
}

.linkAction{

    margin-top: auto;
}

.card_button{

    border: none;
    width: fit-content;
    padding: 10px 15px;
    border-radius: 5px;
    font-size: 13px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    display: flex;
    align-items: center;
    background: var(--black-primary);
    color: var(--white-primary);
}

.card_button:hover{

    background: rgb(0, 119, 255);
    color: white;
}