.articleCard{

    border: 1px solid var(--card-border-primary);
    background: var(--bg-primary);
    padding: 20px 20px;
    margin-bottom: 30px;
    border-radius: 5px;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
}

.articleCard:hover{

    box-shadow: 0px 5px 10px var(--card-hover-shadow);
    border: 1px dashed var(--blue-primary);
}

.articleDate{

    font-size: 12px;
    color: var(--blue-primary);
    margin-bottom: 10px;
}

.articleHeading{

    font-size: 18px;
    font-weight: 500;
    line-height: 1.9;
    margin: 0;
    padding: 0;
    margin-top: 15px;
    color: var(--black-primary);
}

.articleDescription{

    font-size: 14px;
    color: var(--text-primary);
    line-height: 1.9;
    margin: 0;
    padding: 0;
}

.moreFlex{

    margin-top: 20px;
    display: flex;
    align-items: center;
}

.articleReadMore{

   border: none;
   background: var(--blue-secondary);
   color: var(--blue-primary);
   padding: 10px 15px;
   border-radius: 5px;
   transition: all 0.3s ease;
   cursor: pointer;
   font-size: 13px;
}

.articleReadMore:hover{

    background: var(--blue-primary);
    color: var(--white-primary);
}

.articleShare{

    margin-left: 20px;
    cursor: pointer;
    color: var(--black-primary);
}

.articleShare:hover{

    color: var(--blue-primary)
}

.articleSource{

    margin-left: auto;
    font-size: 12px;
    font-weight: 400;
    color: var(--black-primary);
    background: var(--card-hover-shadow);
    padding: 5px 10px;
    border-radius: 4px;
}

@media screen and (max-width: 768px){

    .articleCard{

        padding: 10px 20px;
    }

    .articleDate{

        font-size: 10px;
    }

    .articleHeading{

        font-size: 14px;
    }

    .articleDescription{

        font-size: 12px;
    }

    .articleReadMore{

        font-size: 12px;
    }

    .articleSource{

        font-size: 10px;
    }
    
}