.notificationCard{

    padding: 20px;
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    background: transparent;
    border: 1px dashed var(--card-border-primary);
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
}

.notificationCard:hover{

    box-shadow: 0px 5px 10px var(--card-hover-shadow);
    border: 1px dashed var(--blue-primary);
}

.notificationCardHeader{

    display: flex;
    align-items: center;
}

.notificationsDate{

    font-size: 12px;
    color: var(--text-primary);
    margin-left: 15px;
}

.notificationsTime{

    font-size: 12px;
    color: var(--text-primary);
    margin-left: 15px;
}

.notificationSource{

    font-size: 12px;
    color: var(--blue-primary);
    margin-left: 15px;
    background: var(--blue-secondary);
    padding: 5px 10px; 
    border-radius: 4px;
}

.notificationHeading{

    margin-top: 20px;
    font-weight: 500;
    color: var(--black-primary);
}

.notificationBody{

    font-size: 14px;
    color: var(--text-primary);
    margin-top: 10px;
    line-height: 1.9;
}

.notificationlink{

    display: flex;
    align-items: center;
    width: fit-content;
    padding: 10px;
    margin-top: 20px;
    border: none;
    background: var(--blue-secondary);
    color: var(--blue-primary);
    border-radius: 4px;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}

.notificationlink:hover{

    background: rgb(0, 119, 255);
    color: white;
}

@media screen and (max-width: 768px){

    .notificationBody{

        font-size: 12px;
    }
    
}