.alertBox {
  display: flex;
  align-items: center;
  padding: 10px 15px;
  border-radius: 5px;
  width: fit-content;
  margin: auto;
  font-size: 14px;
}

.alertBox.medium {
  background: var(--yellow-secondary);
  color: var(--yellow-primary);
}

.alertBox.high {
  background: var(--red-secondary);
  color: var(--red-primary);
}

.alertBox.low {
  background: var(--green-secondary);
  color: var(--green-primary);
}

.icon {
  height: auto;
  width: auto;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
  font-size: 20px;
}

@media screen and (max-width: 768px) {
  .alertBox {
    font-size: 13px;
    padding: 10px;
  }
}
