.toastCard {
  position: fixed;
  bottom: 30px;
  right: 30px;
  background: var(--black-primary);
  border-radius: 5px;
  color: var(--white-primary);
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 20px 20px;
  animation: fadeIn 0.5s;
  transition: all 0.5s;
  font-size: 14px;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  z-index: 9999;
}

.icon {
  color: var(--white-primary);
  font-size: 15px;
  margin-right: 10px;
  animation: jiggle 1s infinite ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes jiggle {
  0% {
    transform: rotate(0deg);
  }

  10% {
    transform: rotate(-10deg);
  }

  20% {
    transform: rotate(10deg);
  }

  30% {
    transform: rotate(-10deg);
  }

  40% {
    transform: rotate(10deg);
  }

  50% {
    transform: rotate(-10deg);
  }

  60% {
    transform: rotate(10deg);
  }

  70% {
    transform: rotate(-10deg);
  }

  80% {
    transform: rotate(0deg);
  }

  90% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

@media screen and (max-width: 768px) {
  .toastCard {
    width: 100%;
    height: fit-content;
    z-index: 9999;
    bottom: 7.5%;
    position: fixed;
    padding: 15px 10px;
    border-radius: 0;
    right: 0;
  }
}
